/* font for header */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap");

/* getting rid of web styles */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1e1f21;
  --second-bg-color: #201f28;
  --text-color: #fff;
  --off-text-color: #a0a0a0;
  --main-color: #e0bb20;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* header */
.header h2 {
  font-family: "Monoton", cursive;
  font-size: 100px;
  /* color: var(--off-text-color); */
  text-shadow: 4px 8px 8px rgba(175, 185, 63, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header h2 i {
  color: var(--main-color);
  font-size: 120px;
  transform: rotate(5deg);
}

span.s {
  margin-left: -3.5rem;
  margin-bottom: -2rem;
  font-family: "Monoton", cursive;
  font-size: 80px;
  font-style: italic;
}

/* search bar */
.movie-search-box {
  font-family: "Albert Sans", sans-serif;
  margin: 1rem 0;
  height: 35px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.search-content,
.search-btn {
  width: 40%;
}

.search-content {
  font-family: "Albert Sans", sans-serif;
  padding: 0 1rem;
  font-size: 1.4rem;
  outline: 0;
  border: 1px solid var(--main-color);
  color: var(--bg-color);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.search-btn {
  width: 55px;
  height: 35px;
  font-size: 1.2rem;
  background: var(--main-color);
  color: var(--bg-color);
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 0.4s linear;
}

.search-btn:hover {
  background: var(--dark-color);
  color: var(--main-color);
}

.search-btn {
  cursor: pointer;
  outline: 0;
  font-size: 2rem;
}

#container {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  width: 90%;
  height: 70%;
  max-width: 37.5em;
  padding: 3em 1.8em;
  background-color: var(--second-bg-color);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  display: none;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.container::-webkit-scrollbar {
  width: 10px;
}

.conatiner::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
}

.movie-close-btn {
  position: absolute;
  color: var(--text-color);
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
  background: var(--second-bg-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  cursor: pointer;
}

.showMovie {
  display: inline;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}

h2 {
  font-family: "Albert Sans", sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating i {
  width: 1.2em;
  color: var(--main-color);
}

.rating h4 {
  font-family: 'Albert Sans', sans-serif;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: var(--off-text-color);
  margin: 0.6em 0;
  font-weight: 300;
}

.details span {
  font-family: 'Albert Sans', sans-serif;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  font-family: 'Albert Sans', sans-serif;
  border: 1px solid var(--off-text-color);
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400;
  margin-top: 1.2em;
}

p {
  font-family: 'Albert Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: var(--off-text-color);
}

.msg {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
}
